__pycache__/buildDictionary.cpython-39.pyc
__pycache__/Brain.cpython-39.pyc
__pycache__/Brain_class.cpython-39.pyc
player1.dat
player1.dat.virgin
player1.dat.pete
player2.dat
player1.csv
player2.csv
.vscode/launch.json
__pycache__/Brain_class.cpython-310.pyc
__pycache__/tttGUI_class.cpython-310.pyc
