__pycache__/buildDictionary.cpython-39.pyc
__pycache__/Brain.cpython-39.pyc
__pycache__/Brain_class.cpython-39.pyc
*.dat
*.csv
.vscode/launch.json
__pycache__/Brain_class.cpython-310.pyc
__pycache__/tttGUI_class.cpython-310.pyc
